main {
  display: flex;
  justify-content: center;
}



/*** Card ***/

.cards {
  max-width: var(--max-width);
  margin: auto var(--space-lg);
}

.cards__card {
  /* Background */
  background: var(--neutral-white);

  /* Spacing */
  padding: var(--space-lg);
  margin: var(--space-xl) auto;

  /* Border */
  border-radius: 20px;
  box-shadow: 0 0 20px var(--neutral-dark-cyan-alpha-10);
}

.cards__card:first-child {
  margin-top: var(--space-xxl);
}

.cards__card:last-child {
  /* Position */
  position: relative;
  top: 140px;

  /* Spacing */
  margin-top: 0;

  /* Sizing */
  max-width: 700px;
}



/*** Card components ***/

.card__img {
  padding: var(--space-lg);
}

.card__title {
  /* Font */
  font-family: var(--font-primary), sans-serif;
  font-size: var(--text-md);

  /* Spacing */
  margin: var(--space-md) 0;
}

.card__subtitle {
  color: var(--neutral-grayish-blue);
  font-size: var(--text-sm);
}




/****** Media queries ******/

@media (min-width: 768px) {
  .cards {
    margin: auto var(--space-xl);
  }

  .card__img {
    padding: var(--space-xl);
  }

  .card__title {
    font-size: var(--text-lg);
  }
}



@media (min-width: 1024px) {

  .cards {
    margin: auto var(--space-xxxl);
  }

  .cards__card {
    /* Flexbox */
    display: flex;
    flex-direction: row-reverse;

    /* Spacing */
    padding: 0 var(--space-xxxl);
    margin: var(--space-xl) auto;

    /* Positon */
    text-align: left;
  }

  .cards__card:first-child {
    margin-top: var(--space-xxxl);
  }

  .cards__card:nth-child(even) {
    flex-direction: row;
  }

  .cards__card:nth-child(even) > img {
    padding: var(--space-xxl);
    padding-left: 0;
  }

  .cards__card:last-child {
    /* Position */
    display: block;
    text-align: center;

    /* Spacing */
    padding: var(--space-lg) var(--space-xxxl);
  }

  .card__img {
    /* Spacing */
    padding: var(--space-xxl);
    padding-right: 0;

    /* Sizing*/
    width: 50%;
  }

  .card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card__title {
    font-size: var(--text-xl);
    margin: var(--space-md) 0;
  }

  .card__subtitle {
    font-size: var(--text-md);
  }

}
