main {
  display: flex;
  justify-content: center;
}

.cards-set {
  max-width: var(--max-width);
  margin: auto var(--space-lg);
}

.card {
  background: var(--neutral-white);
  padding: var(--space-lg);
  box-shadow: 0 0 20px var(--neutral-dark-cyan-alpha-10);
  border-radius: 20px;
  margin: var(--space-xl) auto ;
}

.card h2 {
  font-family: var(--font-primary), sans-serif;
  font-size: var(--text-md);
  margin: var(--space-md) 0;
}

.card p {
  color: var(--neutral-grayish-blue);
  font-size: var(--text-sm);
}

.card img {
  padding: var(--space-lg);
}

.card:first-child {
  margin-top: var(--space-xxl);
}

.card:last-child {
  position: relative;
  top: 140px;
  margin-top: 0;
  max-width: 700px;
}
