footer {
  background: hsl(192, 100%, 9%);
  color: white;
  padding: var(--space-lg);
  padding-top: 150px;
  text-align: left;
}

footer > * {
  margin: 0 auto;
  max-width: var(--max-width);
}

.logo {
  filter: grayscale(100%) invert(100%);
  width: 200px;
  margin: var(--space-lg) 0;
}

footer p {
  font-size: var(--text-sm);
  opacity: 0.8;
}


.info {
  display: grid;
  grid-template-columns: 40px;
  margin: var(--space-md) 0;
}

.info p {
  grid-column-start: 2;
  margin-top: 0;
}

.info span {
  margin-top: 3px;
}

.links {
  margin: var(--space-xl) 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: block;
}

footer a {
  display: inline-block;
  position: relative;
  margin: var(--space-sm) 0;
  overflow: hidden;
  transition: all 300ms;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: var(--primary-pink);
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}


footer a:active {
  opacity: 0.7;
}

.social-media-icon-set {
  text-align: center;
  margin: var(--space-lg) 0;
}

.social-media-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid var(--neutral-white);
  border-radius: 40px;
  margin: 0 var(--space-sm);
  transition: all 300ms;
}

.social-media-icon:active {
  filter: brightness(0.7);
  color: var(--primary-pink);
  border: 1px solid var(--primary-pink);
}

.social-media-icon-set span {
  position: relative;
  top: 6px;
}

.copyright {
  font-size: var(--text-xs);
  text-align: center;
}


@media (hover:hover){
  footer a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .social-media-icon:hover {
    color: var(--primary-pink);
    border: 1px solid var(--primary-pink);
  }
}
