/*** Hero ***/

@media (min-width: 768px) {
  header {
    padding: var(--space-xl);
  }
}

@media (min-width: 1024px) {
  header {
    padding: var(--space-xxl);
  }

  nav {
    padding: var(--space-md) 0 var(--space-xxl) 0;
  }

  nav img {
    width: 200px;
  }

  nav button {
    width: 180px;
  }

  .hero {
    display: flex;
    text-align: left;
    gap: 50px;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero h1 {
    font-size: var(--text-xxxl);
  }

  .hero .mockup-img {
    width: 55%;
  }
}



/*** Cards ***/

@media (min-width: 768px) {
  .cards-set {
    margin: auto var(--space-xl);
  }

  .card img {
    padding: var(--space-xl);
  }

  .card h2 {
    font-size: var(--text-lg);
  }
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    padding: 0 var(--space-xxxl);
    margin: var(--space-xl) auto;
  }

  .cards-set {
    margin: auto var(--space-xxxl);
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card h2 {
    font-size: var(--text-xl);
    margin: var(--space-md) 0;
  }

  .card p {
    font-size: var(--text-md);
  }

  .card img {
    width: 50%;
    padding: var(--space-xxl);
    padding-right: 0
  }

  .card:first-child {
    margin-top: var(--space-xxxl);
  }

  .card:nth-child(2) {
    flex-direction: row;
  }

  .card:nth-child(2) img {
    padding: var(--space-xxl);
    padding-left: 0;
  }

  .card:last-child {
    display: block;
    text-align: center;
    padding: var(--space-lg) var(--space-xxxl);
  }




}



/*** Footer ***/

@media (min-width: 768px) {

  footer {
    padding: var(--space-xl);
    padding-top: 150px;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: var(--space-xxxl);
    padding-top: 150px;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    gap: 100px;
  }

  .info-set > :first-child  {
    margin-top: var(--space-sm);
  }

  .social-media-icon-set {
    margin: 0;
  }

  .links {
    margin: 0;
    font-size: var(--text-sm);
  }

  .social-media-icon {
    margin: 0 var(--space-xs);
  }

  .copyright {
    text-align: right;
  }
}


@media (min-width: 1400px) {
  footer .footer-info {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    gap: 100px;
  }

  .links {
    grid-column-end: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .links > last-child {
    grid-column-start: 3;
  }

  footer .social-media-icon-set {
    grid-column-start: 4;
  }
}
